<!doctype html>
<html ng-app="jsSynth" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Synth</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/index.css">

  <!-- Angular -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- The good stuff -->
  <script src="scripts/synth.js"></script>
  <script src="scripts/note.js"></script>
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="container-fluid" ng-controller="GridController as gridCtrl">
    <div class = "row">

      <div class = "col-sm-7">


        <div class = "row spacer-top">
          <div class = "col-xs-6 no-right-padding">

            <!-- Angular Grid generation -->
            <div ng-repeat="grid in gridCtrl.gridL">
              <div class = "col-xs-3 col-{{grid.name}}">

                <div ng-repeat="pitch in grid.pitches" class="row">
                  <button class = "btn btn-primary note btn-block" data-column="{{grid.name}}" data-note="{{pitch}}">{{pitch}}</button>
                </div>

                <div class = "row">
                  <button class = "btn btn-danger note btn-block active" data-column="{{grid.name}}" data-note="x">X</button>
                </div>

                <div class = "row spacer-top">
                  <button class = "btn btn-block btn-info octave-up" data-column="{{grid.name}}" data-octave="up"><span class="glyphicon glyphicon-chevron-up" aria-hdata-columnden="true"></span></button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info btn-xs octave-count" id="o{{grid.name}}" data-column="{{grid.name}}" data-octave="count">4</button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info octave-down" data-column="{{grid.name}}" data-octave="down"><span class="glyphicon glyphicon-chevron-down" aria-hdata-columnden="true"></span></button>
                </div>

              </div>
            </div>
            <!-- End Angular -->

          </div>

          <div class = "col-xs-6 no-left-padding">

            <!-- Angular Grid Generation -->
            <div ng-repeat="grid in gridCtrl.gridR">
              <div class = "col-xs-3 col-{{grid.name}}">

                <div ng-repeat="pitch in grid.pitches" class="row">
                  <button class = "btn btn-primary note btn-block" data-column="{{grid.name}}" data-note="{{pitch}}">{{pitch}}</button>
                </div>

                <div class = "row">
                  <button class = "btn btn-danger note btn-block active" data-column="{{grid.name}}" data-note="x">X</button>
                </div>

                <div class = "row spacer-top">
                  <button class = "btn btn-block btn-info octave-up" data-column="{{grid.name}}" data-octave="up"><span class="glyphicon glyphicon-chevron-up" aria-hdata-columnden="true"></span></button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info btn-xs octave-count" id="o{{grid.name}}" data-column="{{grid.name}}" data-octave="count">4</button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info octave-down" data-column="{{grid.name}}" data-octave="down"><span class="glyphicon glyphicon-chevron-down" aria-hdata-columnden="true"></span></button>
                </div>

              </div>
            </div>
            <!-- End Angular -->

          </div>

        </div>


        <div class = "row spacer-top">
          <div class = "col-sm-12">
            <button class="btn btn-success btn-lg start-loop"><span class="glyphicon glyphicon-play" aria-hdata-columnden="true"></span></button>
            <button class="btn btn-danger btn-lg stop-loop" disabled="disabled"><span class="glyphicon glyphicon-stop" aria-hdata-columnden="true"></span></button>
          </div>
        </div>

      </div>


      <div class = "row spacer-top">
        <div class = "col-sm-5 desktop-padding">
          <div class = "row">
            <span class = "pull-right">My Account | Sign-Up | Logout</span>
          </div>
          <div class = "row spacer-top">
            <div class = "col-xs-3">
              <h4>BPM</h4>
            </div>
            <div class = "col-xs-9 range-spacer-top">
              <input type="range" id="bpm" min="30" value="120" max="225" step="1">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</body>
</html>
