<!doctype html>
<html ng-app="jsSynth" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JS Synth</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/index.css">

  <!-- Angular -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- The good stuff -->
  <script src="scripts/synth.js"></script>
  <script src="scripts/note.js"></script>
  <script src="scripts/app.js"></script>

  <!-- Controllers -->
  <script src="/scripts/controllers/GridController.js"></script>


</head>
<body>
  <div class="container-fluid" ng-controller="GridController as gridCtrl">

    <div class = "row">

      <div class = "col-sm-7">


        <div class = "row spacer-top">
          <div class = "col-xs-6 no-right-padding">

            <!-- Angular Grid generation -->
            <div ng-repeat="grid in gridCtrl.gridL">
              <div class = "col-xs-3 col-{{grid.name}}">

                <div ng-repeat="pitch in grid.pitches" class="row">
                  <button class = "btn btn-primary note btn-block" data-column="{{grid.name}}" data-note="{{pitch}}">{{pitch}}</button>
                </div>

                <div class = "row">
                  <button class = "btn btn-danger note btn-block active" data-column="{{grid.name}}" data-note="x">X</button>
                </div>

                <div class = "row spacer-top">
                  <button class = "btn btn-block btn-info octave-up" data-column="{{grid.name}}" data-octave="up"><span class="glyphicon glyphicon-chevron-up" aria-hdata-columnden="true"></span></button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info btn-xs octave-count" id="o{{grid.name}}" data-column="{{grid.name}}" data-octave="count">4</button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info octave-down" data-column="{{grid.name}}" data-octave="down"><span class="glyphicon glyphicon-chevron-down" aria-hdata-columnden="true"></span></button>
                </div>

              </div>
            </div>
            <!-- End Angular -->

          </div>

          <div class = "col-xs-6 no-left-padding">

            <!-- Angular Grid Generation -->
            <div ng-repeat="grid in gridCtrl.gridR">
              <div class = "col-xs-3 col-{{grid.name}}">

                <div ng-repeat="pitch in grid.pitches" class="row">
                  <button class = "btn btn-primary note btn-block" data-column="{{grid.name}}" data-note="{{pitch}}">{{pitch}}</button>
                </div>

                <div class = "row">
                  <button class = "btn btn-danger note btn-block active" data-column="{{grid.name}}" data-note="x">X</button>
                </div>

                <div class = "row spacer-top">
                  <button class = "btn btn-block btn-info octave-up" data-column="{{grid.name}}" data-octave="up"><span class="glyphicon glyphicon-chevron-up" aria-hdata-columnden="true"></span></button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info btn-xs octave-count" id="o{{grid.name}}" data-column="{{grid.name}}" data-octave="count">4</button>
                </div>
                <div class = "row">
                  <button class = "btn btn-block btn-info octave-down" data-column="{{grid.name}}" data-octave="down"><span class="glyphicon glyphicon-chevron-down" aria-hdata-columnden="true"></span></button>
                </div>

              </div>
            </div>
            <!-- End Angular -->

          </div>

        </div>


        <div class = "row spacer-top">
          <div class = "col-sm-12">
            <button class="btn btn-success btn-lg start-loop"><span class="glyphicon glyphicon-play" aria-hdata-columnden="true"></span></button>
            <button class="btn btn-danger btn-lg stop-loop" disabled="disabled"><span class="glyphicon glyphicon-stop" aria-hdata-columnden="true"></span></button>
          </div>
        </div>

      </div>

      <div class = "row spacer-top">
        <div class = "col-sm-5 desktop-padding">
          <div class = "row">
            <span class = "pull-right"><a href="#" data-toggle="modal" data-target="#signup-modal">Sign-Up</a> | Logout</span>
            <div class="modal fade" tabindex="-1" role="dialog" id="signup-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">create your account</h4>
                  </div>
                  <div class="modal-body form-block">

                    <form id="newuser-form" action="api/users" method="post">
                      <div class="form-group">
                        <label for="name">username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder:="eg: supercoolperson" required>
                      </div>
                      <div class="form-group">
                        <label for="email">email</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="eg: supercoolperson@example.com" required>
                      </div>
                      <div class="form-group">
                        <label for="password">password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="enter your password" required>
                        <input name="songs" type="hidden" id="songs">
                      </div>

                      <div class ="form-group">
                        <button type="submit" class="btn btn-success">Let's do this</button>
                      </div>
                    </form>

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>


          <div class = "row spacer-top">
            <div class = "col-xs-3">
              <h4>BPM</h4>
            </div>
            <div class = "col-xs-9 range-spacer-top">
              <input type="range" id="bpm" min="30" value="120" max="225" step="1">
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>



</body>
</html>
