
$openSans: 'Open Sans', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;
$bgcolor: #fff;

button {
  // border-color: transparentize($bgcolor, .9)!important;
  border: 1px solid transparentize($bgcolor, .9)!important;
}

.btn {
  // border-color: transparentize($bgcolor, .9)!important;
    border: 1px solid transparentize($bgcolor, .9)!important;
}

@mixin btn($color, $background, $border){


  border-radius: 0!important;

  color: $color;
  background-color: $background;


  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    // border-color: transparentize($border, .9)!important;
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    // border-color: transparentize($border, .9)!important;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    // border-color: transparentize($border, .9)!important;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      // border-color: transparentize($border, .9)!important;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      // border-color: transparentize($border, .9)!important;

    }
  }

  // .badge {
  //   color: $background;
  //   background-color: $color;
  // }
}




$greentxt: #fff;
$greenbg: #53bf6b;
$greenborder: #fff;

$redtxt: #fff;
$redbg: red;
$redborder: #fff;

$darkbluetxt: #fff;
$darkbluebg: blue;
$darkblueborder: #fff;

$lightbluetxt: #fff;
$lightbluebg: blue;
$lightblueborder: #fff;

$coolcolor:  #53bf6b;



.btn-success {
  @include btn ($greentxt, $greenbg, $greenborder);
}
.btn-danger  {
  @include btn ($redtxt, $redbg, $redborder);
}
.btn-primary {
  @include btn ($darkbluetxt, $darkbluebg, $darkblueborder);
}
.btn-info {
  @include btn ($lightbluetxt, $lightbluebg, $lightblueborder);
}


body {
  background-image: url("../images/new_year_background.png");
  font-family: $openSans;
}



button:focus {
  outline:0 !important;
  text-decoration: none;
}
a:hover {
  outline:0 !important;
  text-decoration: none;
}

.grid  {
  box-shadow: 3px 3px 4px lighten(grey, 20)!important;
}

.logo {
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: $comfortaa;
}

.modal-content {
  border-radius: 0;
}

.settings-panel {
  background-color: transparentize(#fff, .25);
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  // padding-left: 30px!important;
  // padding-right: 30px!important;
  // margin-right: 5px;
}

.spacer-header  {
  background-color: transparentize(#fff, .35);
  // border-bottom: 1px solid transparentize(lightgrey, .5);
  margin-bottom: 20px;
  padding: 8px 30px 10px 10px!important;
  box-shadow: 1px 1px 1px lighten(grey, 20)!important;
}

.save-song {
  box-shadow: 3px 3px 4px lighten(grey, 20)!important;

}

.no-left-padding {
  padding-left: 0px;
}

.no-right-padding {
  padding-right: 0px;
}

.margin-right {
  margin-right: 13px;
}

.range-spacer-top {
  margin-top: 25px;
}

.spacer-top {
  margin-top: 20px;
}

h3 {
  font-weight: 500;
}
.frown  {
  text-align: center;
}

@media (min-width: 600px) {
  .desktop-padding {
    padding-right: 50px;
    padding-left: 50px;
  }

  .desktop-padding.settings-panel {
    background-color: transparentize(#fff, .25);

  }
}
